<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - IDAT</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendors/bootstrap-icons/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.svg')}}" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% include 'partials/_menu.html' %}
        <div id="main" class='layout-navbar'>
            {% include 'partials/_header.html'%}
            <div id="main-content">

                <div class="page-heading">
                    {% block content %}{% endblock %}
                </div>
                {% include 'partials/_footer.html'%}
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static',filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{ url_for('static',filename='js/main.js')}}"></script>
</body>

</html>